.card {
	background-color: rgb(255, 246, 245);
	color: #272727;
	padding: 20px;
	border-radius: 10px;
	border: 0px;
	border-color: tomato;
	border-style: solid;
	transition: 200ms;
    max-width: 95%;
	margin:auto;
}

.card:hover {
	transition: 200ms;
	border: 3px;
	border-color: tomato;
	border-style: solid;
}

.card-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.profile {
	width: 3rem;
	height: 3rem;
	background-color: tomato;
	border-radius: 50%;
	margin: 10px;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: white;
	justify-content: center;
}

.letter {
	vertical-align: middle;
}

.card-title-group {
	justify-content: center;
}

.card-title {
	flex: 0.5;
	font-size: large;
	margin-bottom: 0;
	margin-top: 0;
}
.card-date {
	flex: 0.3;
	font-size: medium;
	margin-top: 0;
}

.card-image {
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.card-text {
	font-size: medium;
	padding: 1%;
}

.cardbody {
	text-align: center;
}

.socials {
	padding: 1%;
	display: flex;
	justify-content: center;
	gap: 5%;
}

.socialitem {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	font-size: medium;
	color: black;
	background-color: rgba(39, 39, 39, 0.1);
	border-radius: 10px;
	box-shadow: 0px 1px rgba(39, 39, 39, 0.2);
	gap: 3%;
}

.socialitem:link{
	text-decoration: none;
}


.socialitem:hover {
	transition: 200ms;
	border: solid;
	border-color: tomato;
}
